<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml" lang="en-US">
<head>
	<meta charset="utf-8" />
	<title>The Variable Life | Finding Clarity and Confidence in a World of Choices</title>
	<meta name="viewport" content="width=device-width, initial-scale=1">
	<link rel="home" href="{{ siteUrl }}" />
	<link rel="stylesheet" href="/dist/css/master.css">
	<script src="https://code.jquery.com/jquery-3.1.1.min.js" integrity="sha256-hVVnYaiADRTO2PzUGmuLJr8BLUSjGIZsDYGmIJLv2b8=" crossorigin="anonymous"></script>
	<script src="https://use.fontawesome.com/1fb83c4298.js"></script>
	<script src="../dist/js/scroll-highlight.js"></script>

	<meta property="og:title" content="The Variable Life | Finding Clarity and Confidence in a World of Choices" />
	<meta name="twitter:title" content="The Variable Life | Finding Clarity and Confidence in a World of Choices" />

	<meta property="og:url" content="http://thevariablelife.com/preview" />
	<meta property="twitter:url" content="http://thevariablelife.com/preview" />

	<meta property="og:type" content="book" />

	<meta property="og:description" content="On the brink of adulthood, one choice can change everything. Who will my friends be? Which college or career will I pursue? What does God want for me? Where will I find the answers? These are the questions we ask ourselves in the midst of our biggest transitions. This is a book about wrestling through those questions." />
	<meta name="twitter:description" content="On the brink of adulthood, one choice can change everything. Who will my friends be? Which college or career will I pursue? What does God want for me? Where will I find the answers? These are the questions we ask ourselves in the midst of our biggest transitions. This is a book about wrestling through those questions." />

	<meta property="og:image" content="/dist/images/tvl.hero.5.2x1.jpg" />
	<meta property="twitter:image" content="/dist/images/tvl.hero.5.2x1.jpg" />

	<meta name="twitter:card" content="summary_large_image" />

</head>

<body>
	<section class="visuallyhidden">
		<span>
			<h1>The Variable Life</h1>
			<p>Finding Clarity and Confidence in a World of Choices</p>
		</span>
	</section>

	<div class="nav-toggle"><i class="fa fa-fw fa-bars"></i></div>

	<section id="primary-nav" class="floating">
		<nav class="floating__item">
			<ul class="text-center">
				<li><a href="#intro" class="active">Introduction</a></li>
				<li><a href="#book">About the Book</a></li>
				<li><a href="#testimonials">Testimonials</a></li>
				<li><a href="#author">About the Author</a></li>
				<li><a href="#team">Street Team</a></li>
				<li><a href="#swag">Free Stuff</a></li>
			</ul>
		</nav>
	</section>

	<span id="intro">
	<section>
		<div class="shell hard">
			<div class="ratio--square background--cover lap-wide-and-up-visuallyhidden" style="background-image: url('/dist/images/tvl.hero.5.1x1.jpg');"></div>
			<div class="ratio--landscape background--cover lap-visuallyhidden handheld-visuallyhidden" style="background-image: url('/dist/images/tvl.hero.5.2x1.jpg');"></div>
		</div>
	</section>

	<section class="background--dark-primary text-light-primary">
		<div class="shell">
			<div class="constrain-copy text-center">
				<h2>On the brink of adulthood, one choice can change everything.</h2>
				<p class="text-larger"><i>Who will my friends be? Which college or career will I pursue? What does God want for me? Where will I find the answers?</i></p>
				<p>These are the questions we ask ourselves in the midst of our biggest transitions. <b>This is a book about wrestling through those questions.</b></p>
				<p><a href="#swag" class="btn btn--filled text-dark-primary">Start Reading Now</a> <a href="#" class="btn">Buy The Book</a></p>
			</div>
		</div>
	</section>
	</span>

	<span id="book">
	<section>
		<div class="handheld-ratio--landscape lap-and-up-ratio--thin background--cover" style="background-image:url('/dist/images/tvl.hero.2.4x1.jpg');"></div>
	</section>

	<section class="background--dark-tertiary text-light-primary">
		<div class="shell constrain-page">
			<div class="grid">
				<div class="grid__item text-center">
					<h2>About The Book</h2>	
				</div>
			</div>
			<div class="grid floating push-top">
				<div class="grid__item floating__item handheld-text-center lap-text-center lap-wide-and-up-seven-twelfths text-left">
					<p class="text-larger handheld-text-center"><b>With relatable stories and thought­-provoking insights,</b> John Weirick brings readers on his journey from avoiding change and challenges as a shy introvert to rethinking his faith, ambitions, and relationships to become a confident adult.</p>
					<p class="handheld-text-center"><i>The Variable Life</i> is a collection of stories and observations about life to help you:</p>
					<ul class="text-left">
						<li>Gain Clarity About Who You Are and What To Do</li>
						<li>Understand God’s Role in Your Life and in the World</li>
						<li>Learn How to Navigate Conflict and Survive Difficult Transitions</li>
						<li>Develop Healthy Relationships</li>
						<li>See Why the Choices You Make Today Will Influence the Rest of Your Life</li>
						<li>Live With Confidence Instead of Being Driven by Fear</li>
					</ul>
				</div><div class="grid__item floating__item lap-wide-and-up-five-twelfths">
					<p class="text-larger"><i>The Variable Life</i> is for people who want to find their way through the maze of variables, choices, and complexities of modern life, without losing sight of God or themselves.</p>
					<p><a href="#swag" class="btn btn--filled text-dark-primary">Start Reading Now</a> <a href="#" class="btn" style="margin-top: 19.5px; margin-left: 0;">Buy The Book</a></p>
				</div>
			</div>
		</div>
	</section>
	</span>

	<section class="text-light-primary">
		<div class="shell soft-sides lap-wide-and-up-soft-double-sides background--cover" style="background-image:url('/dist/images/tvl.section.2.2x1.jpg');">
			<div class="cover-parent nd lap-wide-and-up-visuallyhidden"></div>
			<div class="grid soft-ends">
				<div class="grid__item lap-wide-and-up-one-half lap-text-center handheld-text-center">
					<h2>Your life is the story of the choices you make. What story is your life telling?</h2>
					<p><a href="#swag" class="btn btn--filled text-dark-primary">Start Reading Now</a> <a href="#" class="btn">Buy The Book</a></p>
				</div>
			</div>
		</div>
	</section>

	<section id="testimonials">
		<div class="shell lap-wide-and-up-soft-double-sides constrain-page">
			<div class="grid push-bottom">
				<div class="grid__item text-center">
					<h2>What People Are Saying</h2>	
				</div>
			</div>
			<div class="grid">
				<div class="grid__item push-bottom lap-wide-and-up-push-double-bottom lap-wide-and-up-one-third">
					<h4 class="normal-weight handheld-text-center handheld-push-half-bottom">"If you feel stuck, scared or insecure, this book is for you."</h4>
					<p class="text-right handheld-text-center flush"><span class="text-brand"><b>Dargan Thompson</b></span></p>
					<p class="text-smaller text-right handheld-text-center">Writer, Editor, and Former Editor at RELEVANT Magazine</p></p>
				</div><div class="grid__item push-bottom lap-wide-and-up-push-double-bottom lap-wide-and-up-two-thirds">
					<h4 class="normal-weight handheld-text-center handheld-push-half-bottom">"You'll be encouraged, challenged, inspired, and best of all, supported by someone who's walking the journey with you."</h4>
					<p class="text-right handheld-text-center flush"><span class="text-brand"><b>Ricky and Krista Ortiz</b></span></p>
					<p class="text-smaller text-right handheld-text-center">Pastor and Speaker, Writer</p>
				</div><div class="grid__item push-bottom lap-wide-and-up-push-double-bottom lap-wide-and-up-two-thirds">
					<h4 class="normal-weight handheld-text-center handheld-push-half-bottom">"<i>The Variable Life</i> is a gift for us all...we’ll find ourselves moved from our comfy couches and into the lives of the people around us."</h4>
					<p class="text-right handheld-text-center flush"><span class="text-brand"><b>Nate Ray</b></span></p>
					<p class="text-smaller text-right handheld-text-center">Pastor and Speaker</p>
				</div><div class="grid__item push-bottom lap-wide-and-up-push-double-bottom lap-wide-and-up-one-third">
					<h4 class="normal-weight handheld-text-center handheld-push-half-bottom">"Refreshingly honest and inspiring."</h4>
					<p class="text-right handheld-text-center flush"><span class="text-brand"><b>Beth Marshall</b></span></p>
					<p class="text-smaller text-right handheld-text-center">Author of Grief Survivor: 28 Steps Toward Hope and Healing</p>
				</div><div class="grid__item push-bottom lap-wide-and-up-push-double-bottom lap-wide-and-up-one-third">
					<h4 class="normal-weight handheld-text-center handheld-push-half-bottom">"Reading this book helped me see how I can grow healthy relationships without losing myself in the process."</h4>
					<p class="text-right handheld-text-center flush"><span class="text-brand"><b>Stephanie Long</b></span></p>
					<p class="text-smaller text-right handheld-text-center">Writer and Editor</p>
				</div><div class="grid__item push-bottom lap-wide-and-up-push-double-bottom lap-wide-and-up-two-thirds">
					<h4 class="normal-weight handheld-text-center handheld-push-half-bottom">"<i>The Variable Life</i> is a book I'm so glad John wrote for us all—it's real, it's relatable, it's relevant, and it's meaningful. The stories he shares are thoughtful and impactful, and reading this book really helped me clarify my purpose for my life and work, as well as my plan for making the most out of both the good and hard stuff of life."</h4>
					<p class="text-right handheld-text-center flush"><span class="text-brand"><b>Rachel Dawson</b></span></p>
					<p class="text-smaller text-right handheld-text-center">Editor at <a href="http://www.therisingblog.com/blog/2016/12/14/a-variable-life-review" target="_blank">The Rising Blog</a></p>
				</div>
			</div>
			<div class="grid">
				<div class="grid__item text-center">
					<p><a href="#swag" class="btn btn--filled">Start Reading Now</a> <a href="#" class="btn">Buy The Book</a></p>
					<p><a href="http://johnweirick.com/book">Read More Reviews &amp; Endorsements</a></p>
				</div>
			</div>
		</div>
	</section>

	<section>
		<div class="palm-ratio--shuare palm-wide-ratio--landscape lap-ratio--landscape lap-wide-ratio--thin anchored-ratio--thin background--cover" style="background-image:url('/dist/images/tvl.section.4.2x1.jpg');"></div>
	</section>

	<span id="author">	
	<section class="background--dark-primary text-light-primary">
		<div class="shell constrain-page">
			<div class="grid floating">
				<div class="grid__item floating__item lap-wide-one-third anchored-one-third">
					<div class="ratio--square background--cover image--rounded push-bottom lap-wide-flush-bottom anchored-flush-bottom" style="background-image: url('https://scontent-mia1-1.xx.fbcdn.net/v/t31.0-8/1014905_698519511298_1070506930_o.jpg?oh=5d2f3ae986155bc306aa6af7f826f5b3&oe=593384D4'); max-width: 240px; margin-left: auto; margin-right: auto;">
					
					</div>
				</div><div class="grid__item floating__item lap-wide-two-thirds lap-wide-text-left anchored-two-thirds anchored-text-left">
					<h2>About John Weirick</h2>
					<p>John Weirick is a writer on faith, culture, and relationships. An introvert transplant from Minnesota and Oregon, he lives in Greenville, South Carolina, where he's still learning euphemisms like "that dog don't hunt" and "bless your heart."</p>
					<p>John's writings are featured on <i>The Huffington Post</i>, <i>RELEVANT Magazine</i>, <i>Lifehacker</i>, Donald Miller's <i>Storyline Blog</i>, and dozens of websites with millions of visitors.</p> 
					<p>Follow along on <a href="http://johnweirick.com" target="_blank">johnweirick.com,</a> <a href="http://facebook.com/johnweirick" target="_blank">Facebook,</a> <a href="http://twitter.com/johnweirick" target="_blank">Twitter,</a> and <a href="http://instagram.com/johnweirick" target="_blank">Instagram.</a></p>
				</div>
			</div>
		</div>
	</section>
	</span>

	<section id="team" class="">
		<div class="shell constrain-page">
			<div class="grid">
				<div class="grid__item text-center">
					<h2>Join The Street Team</h2>	
				</div>
			</div>
			<div class="text-center" style="max-width: 500px; margin-left: auto; margin-right: auto;">
				<p>Help promote the book and get exclusive perks.</p>

				<!-- Begin MailChimp Signup Form -->
				<form action="//johnweirick.us5.list-manage.com/subscribe/post?u=0a2ad44b21eb9f788d40764c9&amp;id=a47f84bd76" method="post" id="mc-embedded-subscribe-form" name="mc-embedded-subscribe-form" class="validate push-double-top hard" target="_blank" novalidate>
					<div class="grid grid--condensed">
						<div class="grid__item">
							<label for="mce-EMAIL">Email Address  <span class="asterisk">*</span></label>
							<input type="email" value="" name="EMAIL" class="required email" id="mce-EMAIL">
						</div><div class="grid__item lap-and-up-one-half">
							<label for="mce-FNAME">First Name</label>
							<input type="text" value="" name="FNAME" id="mce-FNAME">
						</div><div class="grid__item lap-and-up-one-half">
							<label for="mce-LNAME">Last Name</label>
							<input type="text" value="" name="LNAME" id="mce-LNAME">
						</div>
					</div>
				    <div id="mc_embed_signup_scroll">
						<div class="mc-field-group input-group visuallyhidden">
				    		<strong>Send me: </strong>
				    		<ul class="list--unstyled">
				    			<li style="position: relative;"><input type="checkbox" value="1" name="group[14893][1]" id="mce-group[14893]-14893-0"><label for="mce-group[14893]-14893-0">Book updates, free excerpts, and giveaways</label></li>
								<li style="position: relative;"><input type="checkbox" value="2" name="group[14893][2]" id="mce-group[14893]-14893-1"><label for="mce-group[14893]-14893-1">A notification when The Variable Life is available on Amazon &amp; Kindle</label></li>
								<li style="position: relative;"><input type="checkbox" value="4" name="group[14893][4]" id="mce-group[14893]-14893-2"><label for="mce-group[14893]-14893-2">New blog posts</label></li>
								<li style="position: relative;"><input type="checkbox" value="8" name="group[14893][8]" id="mce-group[14893]-14893-3"><label for="mce-group[14893]-14893-3">A random quote</label></li>
								<li style="position: relative;"><input type="checkbox" checked value="16" name="group[14893][16]" id="mce-group[14893]-14893-4"><label for="mce-group[14893]-14893-4">The Variable Life Street Team</label></li>
							</ul>
						</div>
						<div id="mce-responses" class="clear">
							<div class="response" id="mce-error-response" style="display:none"></div>
							<div class="response" id="mce-success-response" style="display:none"></div>
						</div><!-- real people should not fill this in and expect good things - do not remove this or risk form bot signups-->
				    	<div style="position: absolute; left: -5000px;" aria-hidden="true"><input type="text" name="b_0a2ad44b21eb9f788d40764c9_a47f84bd76" tabindex="-1" value=""></div>
				    	<div class="clear"><input type="submit" value="Sign Up Now" name="subscribe" id="mc-embedded-subscribe" class="btn push-top"></div>
				    </div>
				</form>
				<script type='text/javascript' src='//s3.amazonaws.com/downloads.mailchimp.com/js/mc-validate.js'></script><script type='text/javascript'>(function($) {window.fnames = new Array(); window.ftypes = new Array();fnames[0]='EMAIL';ftypes[0]='email';}(jQuery));var $mcj = jQuery.noConflict(true);</script>
				<!--End mc_embed_signup-->
			</div>
		</div>
	</section>

	<section id="swag" class="background--primary text-light-primary">
		<div class="cover-parent background--cover  blurred" style="background-image: url('/dist/images/tvl.section.2.2x1.jpg'); opacity: .1;"></div>
		<div class="shell constrain-page">
			<div class="grid push-bottom">
				<div class="grid__item text-center">
					<h2>Free Stuff</h2>	
				</div>
			</div>
			<div class="grid">
				<div class="grid__item lap-and-up-one-half text-center handheld-push-bottom">
					<h3>The Variable Life Soundtrack</h3>
					<p>Download the free 15-song The Variable Life Soundtrack featuring Andrew Belle, Lovedrug, Bora York, and more.</p>
					<p><a href="#" class="btn btn--light">Get it Now</a></p>
				</div><div class="grid__item lap-and-up-one-half text-center">
					<h3>Reading Guide</h3>
					<p>Get more out of the book with these questions for your group discussion or personal reflection.</p>
					<p><a href="#" class="btn btn--light">Get it Now</a></p>
				</div>
			</div>
		</div>
	</section>

	<section class="background--dark-primary text-light-primary">
		<div class="soft constrain-page">
			<div class="grid floating">
				<div class="grid__item floating__item lap-and-up-one-half handheld-push-bottom">
					<p class="text-left handheld-text-center flush"><small>Interested in writing a review? Download the <a href="#">Digital Press Kit.</a></small></p>
				</div><div class="grid__item floating__item lap-and-up-one-half flush">
					<p class="text-right handheld-text-center flush"><small>&copy; 2017 <a href="http://johnweirick.com">John Weirck</a> &bullet; All Rights Reserved</small></p>
				</div>
			</div>
		</div>
	</section>



	{# <div id="container">
		<header id="header">
			<h1><a href="{{ siteUrl }}">{{ siteName }}</a></h1>

			<nav>
				<ul>
					<li><a href="{{ url('news') }}" {% if craft.request.firstSegment == 'news' %}class="active"{% endif %}>News</a></li>
				</ul>
			</nav>
		</header>

		<main id="content" role="main">
			{% block content %}
				<p>If you see me, you haven’t set your <code>{% verbatim %}{% block content %}…{% endblock %}{% endverbatim %}</code> yet.</p>
				<p>See Twig’s <a href="http://twig.sensiolabs.org/doc/templates.html#template-inheritance">Template Inheritance</a> documentation for an explanation.</p>
			{% endblock %}
		</main>

		<footer id="footer">
			Copyright {{ now.year }} {{ craft.request.serverName | ucfirst }}. All rights reserved  •  Built with <a href="http://craftcms.com">Craft</a>
		</footer>
	</div> #}

	<script>
		var nav = $('#primary-nav');
		var toggle = $('.nav-toggle');

		toggle.on('click', function(){
			if (nav.hasClass('open')) {
				nav.removeClass('open');
				toggle.find('i').removeClass('fa-times');
				toggle.find('i').addClass('fa-bars');
			} else {
				nav.addClass('open');
				toggle.find('i').removeClass('fa-bars');
				toggle.find('i').addClass('fa-times');
			};
		});

		$('#primary-nav a').on('click',function(){
			if (nav.hasClass('open')) {
				nav.removeClass('open');
				toggle.find('i').removeClass('fa-times');
				toggle.find('i').addClass('fa-bars');
			}
		});
	</script>
</body>
</html>
